@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* poppins font */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* variables */
:root{
    --primary-green: #65dfc9;
    --primary-blue: #6cdbeb;
    --text-color: #3a517d;
}

/* the main screen */
main{
    min-height: 100vh;
    background: linear-gradient(to right top, var(--primary-green), var(--primary-blue));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the glass where all content is placed */
#glass{
    background: white;
    min-height: 86vh;
    width: 60%;
    /* the alpha in the rgba describes the opacity, its max value is 1, so 0.7 would be 70% opacity */
    background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    /* setting the zindex so that circles are in background */
    backdrop-filter: blur(1.3rem);
    display: flex;
}

/* setting properites of the circles */
.circle{
    background: white;
    background: linear-gradient(
    to right bottom,
    rgba(255,255,255,1),
    rgba(255,255,255,0.5)
    );
    height: 12rem;
    width: 12rem;
    position: absolute;
    border-radius: 50%;
    /* making the square a circle */
}

/* fixing the position of the circles */
#circle1{
    top: 5%;
    right: 15%;
}

#circle2{
    bottom: 5%;
    left: 10%;
}

/* the user picture */
#profile{
    height: 70px;
    width: 70px;
}

.logo{
    height: 33px;
    width: 33px;
}

.gameImg{
    height: 100px;
    
}

#dashboard{
    flex: 1;
    background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.stats{
    display: flex;
    margin: 17px 0px;
}

.logo{
   margin: 0px 23px;

}

#streams{
    position: relative;
    right: 11px;
}

#steam{
    position: relative;
    right: 14px;
}

#library{
    position: relative;
    right: 16px;
}

#user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px ;
}

#user img{
    margin:  20px 0px;
}

#user h2{
    font-size: 20px;
    color: var(--text-color);
}

#promo{
    background: linear-gradient(to right top, var(--primary-green), var(--primary-blue));
    border-radius: 2rem;
    padding: 12px;
    display: flex;
}

#promo img{
    position: relative;
    left: 4px;
    bottom: 10px;
}

#promo h3{
    width: 80px;
    margin: 10px;
    height: px;
    color: white;
    position: relative;
    top: 24px;
    left: 15px;
}

#games{
    flex: 2;
}

.card{
    background: linear-gradient(91.29deg, rgba(255, 255, 255, 0.8) 0%, #FFFFFF 101.75%);
    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin: 12px;
    display: grid;
}

.card h2{
    grid-area: heading;
}

.version{
    display: block;
    grid-area: version;
}

#search{
    border-radius: 2rem;
}